extends layout

block content
  h1= title
  form(
	action='/',
	method='POST'
  )
    .form-group
      input(
	id='inputProjectName',
	type='text',
	placeholder='Github project name!',
  	name='projectName'
     )
    .form-group
      button.btn.btn-default Valid
  
  if showResults == true
    h1 Results 
    p Open issues #{results.open}
    p Closed issues #{results.closed}
    p Ratio Open/Closed #{results.ratio}
