extends layout

block content
  h1= title
  form(
    action='/',
    method='POST'
  )
    .form-group
      input(
        id='inputProjectName',
        type='text',
        placeholder='Github project name!',
        name='projectName'
      )
      <br/><br/>
    .form-group
      label(for='inputCheckboxV1') Issues
      input(
        id='inputCheckboxV0',
        name='inputCheckbox',
        type='radio',
        value=0,
        checked=typeOfResults==0
      )
      <br/>
      label(for='inputCheckboxV1') Pulls
      input(
        id='inputCheckboxV1',
        name='inputCheckbox',
        type='radio',
        value=1,
        checked=typeOfResults==1
      )
      <br/>
      label(for='inputCheckboxV1') Commits
      input(
        id='inputCheckboxV2',
        name='inputCheckbox',
        type='radio',
        value=2,
        checked=typeOfResults==2
      )
      <br/><br/>
    .form-group
      button.btn.btn-default Go!
  

  if showResults == true
    if typeOfResults == 0
      h1 Results (issues) for [#{projectName}]
      p Open #{results.open} <br /> Closed #{results.closed} <br /> Ratio Open/Closed #{results.ratio} 
    else
      if typeOfResults == 1
        h1 Results (pulls) for [#{projectName}]
        p Open #{results.open} <br /> Closed #{results.closed} <br /> Ratio Open/Closed #{results.ratio}
      else
        if typeOfResults == 2
          h1 Results (commits) for [#{projectName}]
          p Date last commit : #{results.dateLastCommit} <br /> Commits since 3 months : #{results.totalNbCommitsSince3M}

