extends layout

block content
  h1= title
  form(
	action='/search',
	method='POST'
  )
    .form-group
      input(
	id='inputProjectName',
	type='text',
	placeholder='Github project name!',
  	name='projectName'
     )
    .form-group
      button.btn.btn-default Valid
